<div class="scrollable">
  <div class="scrollable-content section">
    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home text-primary" ng-if="glucose.inSession">
        <div >
          {{ age | time }} ago
          <br>
          Calibration state: {{ glucose.state }}
        </div>
        <div>
            <h1 class="home-heading">
              {{ glucose.glucose | glucose }} <span ng-bind-html="arrow"></span>
              <!-- <small><i class="fa fa-long-arrow-right text-primary"></i></small> -->
            </h1>
            (filtered: {{ glucose.filtered | glucose }})
            <!-- +4 mg/dl -->
        </div>
      </div>

      <div class="list-group-item list-group-item-home" ng-if="!glucose.inSession">
        <button class="btn btn-warning" ng-click="startSensor()">Start sensor</button>
      </div>


      <div class="list-group-item list-group-item-home">
        <a class="list-group-item" href="/calibrate">Calibrate</a>
      </div>



      <!-- <div class="list-group-item list-group-item-home">
        <canvas id="line" class="chart chart-line" chart-data="data"
          chart-labels="labels" chart-series="series" chart-options="options"
          chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas>
      </div> -->
  </div>
</div>

      <!-- the original calibration form, left here for now for comparison -->
      <!-- <form name="form" class="col-md-12" ng-if="canBeCalibrated" ng-submit="form.$valid && (calibration.value) && calibrate(calibration.value)">
        <div class="form-group">
          <label for="blood-glucose">BGL (mg/dL)</label>
          <input type="number" min="40" max="400" class="form-control" name="blood-glucose" ng-model="calibration.value" placeholder="BGL"/>
        </div>
        <button class="btn btn-primary" type="submit" ng-disabled="!form.$valid || (!calibration.value)">Calibrate</button>
      </form> -->
    <!-- </div>
    <div>
      <h2>Transmitter Details</h2>
      <p>Status: {{ status | status }}</p>
      <p>State: {{ state | state }}</p>
      <p>Glucose time: {{ time | date:'medium' }}</p>
      <p>Glucose: {{ glucose | mg_per_dl }}</p>
      <p>Unfiltered glucose: {{ unfiltered | mg_per_dl }}</p>
      <p>In session: {{ inSession }}</p>
    </div>
  </div>
</div> -->
